* {
    margin: 0 auto;
    padding: 0;
    background-color: var(--c-ahs-bruin);
}


/*HEADER*/


.header {
    display: flex;
    flex-direction: row;

    height: 240px;
    padding-top: 20px;
    background-color: var(--c-ahs-wit);
}

.logo {
    width: 355px;
    height: 168px;
    object-fit: cover;
    background-color: var(--c-ahs-wit);
}

.header_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: var(--c-ahs-wit);
}

.social_media {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--c-ahs-wit);
}

.fab {
    padding: 10px;
    color: var(--c-ahs-licht-blauw);
    background-color: var(--c-ahs-wit);
}

.menu_balk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
    
}

.page {
    padding: 20px;
    text-decoration: none;

    font-family:  var(--f-subtitle);
    text-transform: uppercase;
    color: var(--c-ahs-bruin);
    background-color: var(--c-ahs-wit);
}

.page.current {
    color: var(--c-ahs-licht-blauw);
}

.page:hover {
    color: var(--c-ahs-licht-blauw);
    transition: .3s ease-in-out;
}




/*MAIN HOME*/


.banner {
    height: 298px;
    width: 100%;
    object-fit: cover;
}

main {
    margin-left: 280px;
    margin-right: 280px;
}

h1{
    font-family: var(--f-title);
    color: var(--c-ahs-wit);
    font-size: 20pt;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.openingsuren {
    padding: 50px 0px ;
}

.div_openingsuren {
    display: flex;
    flex-direction: row;
}

.div_openingsuren ul {
    list-style: none;
}

.uren {
    color: var(--c-ahs-wit);
    font-family: var(--f-subtitle);
    text-transform: uppercase;
}

.streep {
    display: block;
    border-left: 2px solid var(--c-ahs-wit);
    padding-left: 20px;
}

.ul_uren {
    padding-right: 20px;
}

.adress {
    padding: 50px 0px ;
}

.main_home {
    display: flex;
    flex-direction: row;
}
