@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('http://nl.allfont.net/allfont.css?fonts=lucida-console');
@import url('//db.onlinewebfonts.com/c/5c452fb7a0f5751f4e94e9d84eb01154?family=Segoe+Script');


:root {
    /* Colors */

    --c-ahs-licht-blauw:#57C1D9;
    --c-ahs-donker-blauw: #1B798C;
    --c-ahs-licht-bruin: #FBCEA4;
    --c-ahs-bruin:#DA9558 ;
    --c-ahs-donker-bruin: #8D592A;
    --c-ahs-wit:#FBF6F2;


    --c-primary: var(--c-ahs-bruin);
    --c-secondary: var(--c-ahs-licht-blauw);
    --c-tertiary: var(--c-ahs-wit);


    /* Fonts */

    --f-title:'Bowlby One SC', cursive, 'sans-serif';
    --f-text: 'Lucida Console', arial, 'sans-serif';
    --f-subtitle: 'Segoe Script', 'sans-serif';


    /* Grid */
    
    --unit: .5rem;
}

